*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.parent{
    background: #262a2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;

}
.container{
    background: #fff;
    padding: 25px 35px;
    width: 400px;
    border-radius: 10px;
    transition: all 2s;
}

.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input{
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button{
    width: 100%;
    height: 50px;
    background: #494eea;
    border-radius: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    margin: 20px 0;
    font-size: 18px;
}

.container button:hover{
    background: linear-gradient(200deg, #494eea, #01331c);
    color: #fff;
}

#Imgbox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

#Imgbox img{
    width: 200px;
    padding: 10px;
}

#Imgbox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 57, 57);
    
}

.footer-center{
    padding: 15px 0px;
}