*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.container{
    width: 100%;
    min-height: 92vh;
    background: linear-gradient(135deg, #153677 ,  #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
    background: #edeef0;
}

.row input{
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    padding: 10px;
}

.row button{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
    padding: 16px 50px;
    background: #ff4945;
    color: #fff;
    font-size: 16px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

ul li::after{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(./unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    border-radius: 50%;   
}

ul li.checked{
        color: #555;
        text-decoration: line-through;
}


ul li.checked::before{
    background-image: url(./checked.png);
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 57, 57);
}

.footer-center{
    padding: 15px 0px;
}